<a href="https://colab.research.google.com/github/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/blob/main/7dayofcode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*7 dias de Desafio Alura - Dados da Biblioteca da UFRN**
###### Primeiro dia - Importa os dados de Empréstimo dos Acervos do Sistema da Bibliotecas da UFRN
### **Solicitações do Cliente:**
#### A Quantidade dos Emprestimos estâo Aumentanto ou Diminuindo ao decorrer dos  últimos anos?
#####Em quais bibliotecas do sistema estão a maior quantidade de empréstimos?
#####Quais são os temas mais emprestados? E os menos?

In [3]:
import pandas as pd
import pyarrow.parquet as pq

In [3]:
#importando base direto do diretorio do GITHU

df101= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20101.csv', encoding='utf-8')
df102= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20102.csv', encoding='utf-8')
df111= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20111.csv', encoding='utf-8')
df112= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20112.csv', encoding='utf-8')
df121= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20121.csv', encoding='utf-8')
df122= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20122.csv', encoding='utf-8')
df131= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20131.csv', encoding='utf-8')
df132= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20132.csv', encoding='utf-8')
df141= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20141.csv', encoding='utf-8')
df142= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20142.csv', encoding='utf-8')
df151= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20151.csv', encoding='utf-8')
df152= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20152.csv', encoding='utf-8')
df161= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20161.csv', encoding='utf-8')
df162= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20162.csv', encoding='utf-8')
df171= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20171.csv', encoding='utf-8')
df172= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20172.csv', encoding='utf-8')
df181= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20181.csv', encoding='utf-8')
df182= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20182.csv', encoding='utf-8')
df191= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20191.csv', encoding='utf-8')
df192= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20192.csv', encoding='utf-8')
df201= pd.read_csv('https://raw.githubusercontent.com/Odilon01/7_Dias_de_C-digo_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20201.csv', encoding='utf-8')

In [4]:
#concatenando as planilhas em um único arquivo
dados_emprestimos = pd.concat([df101, df102, df111, df112,df121, df122, df131, df132, df141,df142, df151,df152,df161,df162,df171,df172,df181,df182,df191,df192,df201])

In [5]:
dados_emprestimos.head(10)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
5,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
6,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
7,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
8,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO
9,709689,L157395,2010/01/19 15:59:26.447000000,2010/01/04 08:27:33.596000000,2010/02/03 13:06:43.125000000,2.009046e+09,ALUNO DE GRADUAÇÃO

In [4]:
#importar dados Exemplares
dados_exemplares = pd.read_parquet('/content/dados_exemplares.parquet')

In [5]:
dados_exemplares.head(10)

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
7,13,L000924,Dissertações,Biblioteca Central Zila Mamede,REGULAR,651,18
8,12,L000056,Dissertações,Biblioteca Central Zila Mamede,NÃO CIRCULA,647,18
12,19,L116810_23/09/2020 00:01:33,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,661,32
13,20,L000088,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,683,33
14,21,L117745,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,655,35

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).